TZ=Asia/Tokyo

APP_PORT=3000

POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

EMAIL_PORT=587
EMAIL_ADDRESS=smtp.gmail.com
EMAIL_DOMAIN=gmail.com
EMAIL_USER=example@gmail.com
EMAIL_PASSWORD=password
EMAIL_AUTH=login
