<div>
  <%= "#{@user.last_name} 様" %><br/>
  パスワードのリセット申請を受けつきました。<br/>
  以下のURLからパスワードの変更手続きを行ってください。
</div>

<div style="margin: 10px 0;">
  <%= "#{@base_url}/password_reset/#{@token}" %>
</div>

<div style="margin-bottom: 10px;">
  本メールは送信専用です。<br/>
  ご返信いただきましても対応いたしかねますのでご了承くださいませ。<br/>
  このメールに心当たりがない方は、お手数をおかけしますが<br/>
  本メールは破棄していただきますようお願い申し上げます。
</div>

<hr width="100%">
<div>
MyApp<br/>
URL: <%= @base_url %>
</div>